@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans|PT+Mono');
body {
    font-family: 'Open Sans', sans-serif;
    padding: 2%;
}

a {
    color: #00B7FF;
}

pre {
    font-family: 'PT Mono', monospace;
    font-size: 80%;
}


/* 2 Collums */

.col2-group>div {
    padding: 0;
}

@media screen and (min-width: 50em) {
    .col2-group {
        overflow: hidden;
    }
    .col2-group>div {
        float: left;
        width: 50%;
    }
}


/* DIVs */

#debugCode,
#dataList {
    /* border-top: 1px dotted #ff0000; */
    font-family: Courier New, Courier, monospace;
    font: normal 50%;
}


/* Buttons */

button {
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    font: bold 80% sans-serif;
    border: 2px solid #333;
    border-radius: 5px;
    background: none;
    cursor: pointer;
    /*
    -webkit-transform: rotate(-1.5deg);
    -moz-transform: rotate(-1.5deg);
    -ms-transform: rotate(-1.5deg);
    -o-transform: rotate(-1.5deg);
    transform: rotate(-1.5deg);
    */
}

button::before {
    content: "< ";
}

button:after {
    content: " >";
}

button:hover,
button:focus,
li:hover,
li:focus {
    outline: none;
    background: #000;
    color: #FFF;
}

li {
    list-style-type: none;
    width: 98%;
    margin: 1px;
    padding: 5px;
    border: 1px solid #333;
    border-radius: 5px;
}


/* Data INPUT Forms */

input,
textarea {
    font-family: 'PT Mono', monospace;
    font-size: 90%;
    width: 98%;
    border-radius: 5px;
    border: 1px dotted lightslategray;
    padding: 5px;
    margin: 0;
    margin-bottom: 2px;
    background: none;
}

select {
    background: lightgrey;
    font-family: 'PT Mono', monospace;
    font-size: 90%;
    padding: 5px;
    -webkit-appearance: none;
}

input:focus,
textarea:focus {
    background: rgba(0, 0, 0, .1);
    border-radius: 5px;
    outline: none;
}

textarea {
    display: block;
    /* height: 200px; */
    resize: none;
    overflow: auto;
}
